.btn {
    outline: none !important;
    border: 0;
    font-size: 13px;
    padding: 10px 30px;
    text-transform: uppercase;
    height: 39px;
    background: transparent;
    overflow: hidden;
    position: relative;
    letter-spacing: .9px;
    border-radius: 4px;
    min-width: 150px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn.focus,
.btn:focus,
.btn:hover {
    box-shadow: 0px 2px 4px #0000003d;
}

.btn_primary.focus,
.btn_primary:focus,
.btn_primary:hover {
    color: #fff;
}

.btn_default.focus,
.btn_default:focus,
.btn_default:hover{
    box-shadow: none;
}

.btn_primary{
    background-color: $secondary-color;
    color: #fff;
}

.btn_secondary{
    color: $secondary-color !important;
    border: 1px solid $secondary-color !important;
}

.btn_disabled{
    background: #AAAAAA;
    color: #fff;
    pointer-events: none;
    cursor: not-allowed;
}

.btn_lg{
    min-width: 200px;
}

.btn_medium {
    min-width: 100px;
}

.btn_teritary{
    background-color: transparent;
    font-weight: 500;
    color: $secondary-color;
    font-size: 14px;
    letter-spacing: 0;
}

.btn_auto{
    min-width: auto;
    padding: 10px;
}

button:focus {
    outline: none;
}